html {
  background-color: #b2e2f6;
}

.large {
  font-family: "Abril Fatface", cursive;
}

.regular {
  font-family: Roboto, sans-serif;
}

.bottom {
  z-index: 1;
}

.top {
z-index: 2;
}

.absolute {
  color: #fff;
  left: 5em;
  bottom: 4.5em;
}

p {
  color: #efA8ca;
}
