html {
  background-color: #b2e2f6;
}

.large {
  font-family: "Abril Fatface", cursive;
}

.regular {
  font-family: Roboto, sans-serif;
  line-height: 1.2;
}

.bottom {
  z-index: 1;
}

.top {
  z-index: 2;
}

.absolute {
  color: #fff;
}

p, h1 {
  color: #efa8ca;
}


.closer {
  line-height: .75;
}
